body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:79px;
  top:130px;
  width:320px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:510px;
  top:130px;
  width:320px;
  height:567px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:567px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:921px;
  top:130px;
  width:320px;
  height:569px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1343px;
  top:130px;
  width:320px;
  height:568px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u7 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:808px;
  top:298px;
  width:133px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:116px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:4px;
  width:133px;
  height:2px;
}
#u9 {
  position:absolute;
  left:808px;
  top:410px;
  width:553px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:536px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:553px;
  height:2px;
}
#u10 {
  position:absolute;
  left:79px;
  top:50px;
  width:281px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:78px;
  top:709px;
  width:321px;
  height:211px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:211px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:187px;
  top:434px;
  width:343px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:326px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:343px;
  height:2px;
}
#u15 {
  position:absolute;
  left:1770px;
  top:130px;
  width:320px;
  height:569px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u16 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:390px;
  width:1494px;
  height:-250px;
}
#u17_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:19px;
}
#u17_seg1 {
  position:absolute;
  left:-10px;
  top:-5px;
  width:94px;
  height:20px;
}
#u17_seg2 {
  position:absolute;
  left:64px;
  top:-310px;
  width:20px;
  height:325px;
}
#u17_seg3 {
  position:absolute;
  left:64px;
  top:-310px;
  width:1440px;
  height:20px;
}
#u17_seg4 {
  position:absolute;
  left:1484px;
  top:-310px;
  width:20px;
  height:64px;
}
#u18 {
  position:absolute;
  left:567px;
  top:-308px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:510px;
  top:709px;
  width:321px;
  height:51px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:317px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:2150px;
  top:50px;
  width:80px;
  height:68px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u22 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
