body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:79px;
  top:40px;
  width:281px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:79px;
  top:140px;
  width:322px;
  height:567px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:567px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:79px;
  top:707px;
  width:322px;
  height:357px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:357px;
}
#u5 {
  position:absolute;
  left:2px;
  top:170px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:496px;
  top:138px;
  width:318px;
  height:392px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:392px;
}
#u7 {
  position:absolute;
  left:2px;
  top:188px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:864px;
  top:138px;
  width:320px;
  height:387px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:387px;
}
#u9 {
  position:absolute;
  left:2px;
  top:186px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1246px;
  top:138px;
  width:315px;
  height:360px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:360px;
}
#u11 {
  position:absolute;
  left:2px;
  top:172px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:716px;
  top:447px;
  width:200px;
  height:-17px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:214px;
  height:20px;
}
#u12_seg1 {
  position:absolute;
  left:190px;
  top:-21px;
  width:20px;
  height:31px;
}
#u13 {
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1116px;
  top:440px;
  width:190px;
  height:-20px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:204px;
  height:20px;
}
#u14_seg1 {
  position:absolute;
  left:180px;
  top:-24px;
  width:20px;
  height:34px;
}
#u15 {
  position:absolute;
  left:55px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:496px;
  top:540px;
  width:318px;
  height:130px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:130px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:868px;
  top:540px;
  width:318px;
  height:250px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:250px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:314px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1625px;
  top:138px;
  width:321px;
  height:568px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:568px;
}
#u21 {
  position:absolute;
  left:2px;
  top:276px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1396px;
  top:380px;
  width:500px;
  height:-130px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:80px;
}
#u22_seg2 {
  position:absolute;
  left:0px;
  top:50px;
  width:510px;
  height:20px;
}
#u22_seg3 {
  position:absolute;
  left:490px;
  top:-134px;
  width:20px;
  height:204px;
}
#u23 {
  position:absolute;
  left:265px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:401px;
  top:844px;
  width:322px;
  height:220px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:220px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:290px;
  top:310px;
  width:240px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:254px;
  height:20px;
}
#u27 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1970px;
  top:12px;
  width:80px;
  height:68px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u29 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
